{%extends 'base.html'%}
{%block title%} 
<title> Про магазин</title>
{%endblock%} 
{% block body%} 
<div class="container">
<h1> Про магазин </h1>
<p> Общество с ограниченной ответственностью Экоупак является производителем и дистрибьютором экологической упаковки высокого качества.

  Мы заботимся об окружающей среде и делаем древесную упаковку доступной и качественной альтернативой пластику.
  
  Мы знаем истинную цену времени и сможем сэкономить ваше время на размещении заказа и подготовке необходимых документов. Мы все сделаем сами и в кратчайшие сроки.
  
  От вашей заявки до получения заказа уйдет не более 20 дней.
  
  Мы заботимся о том, что бы ваши полезные продукты имели соответствующую упаковку. Деревянная упаковка - это отличное решение, которое поможет выделить ваш продукт среди других.
  
  Дерево - благородный, натуральный и биоразлагаемый материал, который придает вашему продукту естественный, экологичный, аутентичный и качественный вид.
  
  Вся наша продукция изготовлена из качественной и сертифицированной FSC осины.
  
  Ваш заказ доставят в любую точку мира.</p>
</div>
{%endblock%}